<div id="content">
	<p>500 Logos is a fun little app by me, <a href="http://about.me/brendanbenson">Brendan Benson</a>. The full source code is <a href="https://github.com/brendanbenson/500-Logos">available on github</a>.</p>
    <p>I originally created a <a href="http://logoquiz.net/">LogoQuiz game</a> in high school. 500 Logos is the "next generation" logo quiz using HTML5, jQuery, and Ruby on Rails.</p>
</div>