<div id="game">
	<div id="logowrapper"><div id="logo"><div id="start">Start Game</div></div></div>
	<div id="choiceswrapper"><div id="choices"></div></div>
	<div id="timer">0.00</div>
	<div id="score">Score: 0.00s</div>
</div>