<div id="content">
<table>
<% @suggestions.each do |suggestion| %>
    <tr>
      <td><%= suggestion.id %></td>
      <td><%= suggestion.name %></td>
      <td><%= suggestion.email %></td>
      <td><%= suggestion.logo %></td>
    </tr>
<% end %>
</table>
</div>