<h1>500 Logos</h1>
<h2>How well do you know your logos?</h2>
<nav>
	<ul id="header">
		<li><%= link_to "Play Game", root_path %></li>
		<li><%= link_to "Suggest a Logo", suggest_path %></li>
		<li class="last"><%= link_to "About 500 Logos", about_path %></li>
	</ul>
</nav>
